<form [formGroup]="formGroup">

  <fieldset formGroupName="name">
    <input formControlName="firstName" placeholder="First name">
    <input formControlName="lastName" placeholder="Last name">
  </fieldset>

  <fieldset formGroupName="address">
    <input formControlName="street" placeholder="Street">
    <input formControlName="number" placeholder="Number">
    <input formControlName="zipCode" placeholder="Zip code">
    <input formControlName="city" placeholder="City">
    <input formControlName="country" placeholder="Country">
  </fieldset>

</form>
p
